.thumbnail {
    float: left;
    padding: 0px 0px 0px 0px;
    width:200px;
    height:200px;
}

ul li.R {
    margin: 0px;
    list-style-image: url(../image/sqpurple.gif);
    font-size: 14px;
    color: #103C3C;
    font-family: verdana, sans-serif;
}

ul li.I {
    margin: 0px;
    list-style-image: url(../image/arr_r_red.gif);
    font-size: 14px;
    color: #103C3C;
    font-family: verdana, sans-serif;
}

p.desc{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #103C3C;
}


p.note {
    font-style:italic;
}

p.project {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #103C3C;
}

/*div.bio {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #103C3C;
}*/

/*div#news {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #103C3C;
}*/

h1 {
    letter-spacing: 6px;
    font-size: 1.8em;
    color: #be7429;
    font-weight: bold;
}

h2 {
    letter-spacing: 1px;
    color: #803C3C;
    font-weight: bold;
}

h3 {
    color: #0C0CED;
    font-weight: bold;
    display: block;
}

h4 {
    color: #B02D09;
    font-weight: bold;
}


.download-cv a {
    padding: 8px 15px 8px 42px;
    font-family: "BreeSerifRegular";
    font-size: 14px;
    color: #2a2a2a;
    text-shadow: 0 1px 0 #eacf64;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    background: #F90 url(../image/vcard_btn.png) no-repeat 15px 12px;
    box-shadow: 0 0 3px #838383;
    -moz-box-shadow: 0 0 3px #838383;
    -webkit-box-shadow: 0 0 3px #838383;
    -o-box-shadow: 0 0 3px #838383;
    display: inline-block;
}

.download-cv {
    padding: 20px 0 0 0;
}

root {
    display: block;
}

#homepageTable
{
    width:100%;
    border:3px;
}

#topTable
{
    width:100%;
    border:0px;
}

#top {
    background-color:#C9CFD1;
    height:50px;
}

#bottom {
    background-color:#C9CFD1;
    text-align:center;
}


#leftCol {
    background-color:#C9CFD1;
    width:200px;
    text-align:left;
}

#centerCol{
    padding-left: 20px;
    padding-top: 0px;
}

#rightCol {
    background-color:#c3c3c3;
    width:350px;
    text-align:left;
}

p.slideToggle {
    margin:0px;
    padding:10px;
    text-align:left;
    background:#426d9c;
    border:solid 1px #c3c3c3;
    font-size: 20px;
    font-family:  'palatino linotype', palatino, serif;
    font-weight: bold;
    color: whitesmoke;
}

div.panel
{
    margin:0px;
    padding:10px;
    text-align:left;
    background:#C9CFD1;
    border:solid 1px #c3c3c3;
    height:200px;
    font-size: 18px;
}

div.panel#description
{
    margin:0px;
    padding:0px;
    text-align:center;
    background:#C9CFD1;
    border:solid 1px #c3c3c3;
    height:200px;
    font-size: 16px;
}

#avatar {
    height:198px;
    width:198px;
    text-align: left;
}

div.teach {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #103C3C;
}