/*
http://www.1stwebdesigner.com/tutorials/create-stay-on-top-menu-css3-jquery/
*/

/*body {
    background: #efefef;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    font: normal 13px Verdana, sans-serif;
    color: #222;
}*/

#header {
    background: #0F1620 url(bg.jpg) no-repeat top center;
    width: 100%;
    height: 100px;
    border: solid #0F1620;
    border-width: 3px 0 3px 0;
}

#navi {
    height: 40px;
    margin-top: 0px;
}

#menu {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #426d9c), color-stop(40%, #0f67a1), color-stop(100%, #1384d1));
    background: -moz-linear-gradient(top, #426d9c, #0f67a1, #1384d1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    /*width: 60%;*/
    line-height: 40px;
    text-align: center;
    margin: -15px auto;
    padding: 0;
}

#content {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px 0;
    text-align: left;
}

#menu ul {
    padding: 0;
}

#menu ul li {
    list-style-type: none;
    display: inline;
    margin-right: 25px;
}

#menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 3px 7px;

    text-shadow: 1px 1px 1px #000;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
}

#menu ul li a:hover {
    background: #01458e;
    color: #ff0;

    -webkit-transition-property: color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
}

.default {
    width: 700px;
    height: 40px;
    -webkit-box-shadow: 0 5px 20px #888;
    -moz-box-shadow: 0 5px 20px #888;
    box-shadow: 0 5px 20px #888;
}

.fixed {
    position: fixed;
    top: 0px;
    left: 20px;
    width: 100%;

    -webkit-box-shadow: 0 0 40px #222;
    -moz-box-shadow: 0 0 40px #222;
    box-shadow: 0 0 40px #222;
}